<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Twoo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='TemplateData/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='TemplateData/style.css') }}">
</head>
<body>
    <div id="unity-container" class="unity-desktop">
        <canvas id="unity-canvas" width=1080 height=1920></canvas>
        <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
        </div>
        <div id="unity-warning"> </div>
        <div id="unity-footer">
            <div id="unity-webgl-logo"></div>
            <div id="unity-fullscreen-button"></div>
            <div id="unity-build-title">Twoo</div>
        </div>
    </div>
    <script>
        // جلب البيانات من الرابط
        const urlParams = new URLSearchParams(window.location.search);
        const data = decodeURIComponent(urlParams.get('data'));
        const userData = JSON.parse(data);  // فك تشفير البيانات إلى كائن JSON

        // طباعة البيانات في الكونسول لفحصها
        console.log("Decoded data:", userData);
        console.log("User name:", userData.name);
        console.log("Profile picture URL:", userData.profile_pic);

        // عرض الاسم والصورة في التطبيق
        document.getElementById('user-name').textContent = userData.name;
        document.getElementById('user-profile-pic').src = userData.profile_pic;
    </script>
    <div>
        <h1 id="user-name"></h1>  <!-- عرض اسم المستخدم -->
        <img id="user-profile-pic" src="" alt="Profile Picture">  <!-- عرض صورة المستخدم -->
    </div>
</body>
</html>
